#one {
	background-color: lightblue;
	height: 40px;
	width: 200px; 
}
#two {
	background-color: lightblue;
	height: 40px;
	width: 200px; 
}
#three {
	background-color: lightblue;
	height: 40px;
	width: 200px; 
}
#four {
	background-color: lightblue;
	height: 40px;
	width: 200px; 
}
#five {
	background-color:lightblue;
	height: 40px;
	width: 200px; 
}
#six {
	background-color: lightblue;
	height: 40px;
	width: 200px; 
}
#seven {
	background-color: lightblue;
	height: 40px;
	width: 200px; 
}
#eight {
	background-color: lightblue;
	height: 40px;
	width: 200px; 
}
#nine {
	background-color: lightblue;
	height: 40px;
	width: 200px; 
}
#clear {
	background-color: lightblue;
	height: 40px;
	width: 200px; 
}
#zero {
	background-color: lightblue;
	height: 40px;
	width: 200px; 
}
#doit {
	background-color: lightblue;
	height: 40px;
	width: 200px; 
}
.operator {
	background-color: grey;
	height: 40px;
	width: 200px; 
}
.display {
	height:  : 40px;
	width:  : 200px;
}
